@tailwind base;
@tailwind components;
@tailwind utilities;

/* fuente para numeros*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/*para letras son separadas*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*font Waterfall */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas Neue&display=swap");

html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.font-numero {
  font-family: "Inter", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}
