@tailwind base;
@tailwind components;
@tailwind utilities;

/* fuente para numeros*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*para letras son separadas*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*font Waterfall */

html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.font-numero {
  font-family: "Inter", sans-serif;
}
